body{ 
    background: rgb(250, 237, 216); 
    font-family: roboto; 
    text-align: center; 
} 
     
h1,h2{ 
    color: rgb(75, 8, 8); 
} 
     
.ketengah{ 
    margin: 10px auto; 
    width: 1150px; 
} 
     
.kotak1{ 
    background: rgb(235, 199, 199); 
    color: rgb(99, 15, 15);
    padding: 20px; 
    float: left; 
    margin: 50px; 
    width: 150px; 
    height: 150px;  
} 
     
.kotak2{ 
    background: rgb(206, 164, 185); 
    color: rgb(75, 8, 8);
    padding: 20px; 
    float: left; 
    margin: 100px; 
    width: 120px; 
    height: 120px; 
    -ms-transform: scale(2,3); /* Support IE 9 */ 
    -webkit-transform: scale(2,3); /* support Safari */ 
    transform: scale(2,2); /* Standard syntax */  
} 
